/* .checkout {
    padding: 20px 50px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: -9px -9px 33px #e8e8e8, 9px 9px 33px #ffffff;
} */


table,
th,
td,
tbody {
    border: 1px;
    padding: 5px;
    text-align: center;
}